<section class="section">
<div class ="section_inner">
<h1>勤務時間登録</h1>

<%= link_to "本業勤怠打刻へ", decide_main_business_times_path(@timecard) %>

<p id="RealtimeClockArea">現在時刻:</p>

<form>
  <label>開始時刻</label>
  <input type="text" readonly= true size=2 value=<%= @sub_business_time.start_time_sub.hour unless @sub_business_time.start_time_sub.nil? %> >:
  <input type="text" readonly= true size=2 value=<%= @sub_business_time.start_time_sub.min unless @sub_business_time.start_time_sub.nil? %> ><br>
  <label>終了時刻</label>
  <input type="text" readonly= true size=2 value=<%= @sub_business_time.end_time_sub.hour unless @sub_business_time.end_time_sub.nil? %> >:
  <input type="text" readonly= true size=2 value=<%= @sub_business_time.end_time_sub.min unless @sub_business_time.end_time_sub.nil? %> >
</form>

<%= form_with(model: @sub_business_time, local: true) do |form| %>
  <% if @sub_business_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_business_time.errors.count, "error") %> prohibited this main_business_time from being saved:</h2>

      <ul>
        <% sub_business_time.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :start_time_sub %>
  </div>

  <div class="field">
    <%= form.hidden_field :end_time_sub %>
  </div>

  <% @timecard.each do |timecard| %>
  <%= form.hidden_field :timecard_id, value: timecard.id %>
  <%= form.hidden_field :user_id, value: timecard.user_id %>
  <% end %>

  <div class="actions" id="submit_btn">
    <%= form.submit :"退勤", id: "end_work" %>
  </div>
<% end %>
</div>
</section>

<%= javascript_pack_tag "sub_business_time/edit_time" %>

<script>
function showClock1() {
  var nowTime = new Date();
  var nowHour = nowTime.getHours();
  var nowMin  = nowTime.getMinutes();

  if(nowHour < 10){
      nowHour = "0" + nowHour
  }

  if(nowMin < 10){
   nowMin = "0" + nowMin
  }

  var msg = "現在時刻:" + nowHour + ":" + nowMin;
  document.getElementById("RealtimeClockArea").innerHTML = msg;
}

setInterval('showClock1()',1000);
</script>