<section class="section">
<div class ="section_inner">
<h1>勤務時間登録</h1>

<div class="another-dakoku">
  <%= link_to "本業勤怠打刻へ", decide_main_business_times_path(@timecard) %>
</div>

<h2 id="RealtimeClockArea"></h2>

<%= form_with(model: @sub_business_time, local: true) do |form| %>
  <% if @sub_business_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_business_time.errors.count, "error") %> prohibited this main_business_time from being saved:</h2>

      <ul>
        <% sub_business_time.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :start_time_sub, value: "" %>
  </div>

  <div class="field">
    <%= form.hidden_field :end_time_sub, value: "" %>
  </div>

  <% @timecard.each do |timecard| %>
  <%= form.hidden_field :timecard_id, value: timecard.id %>
  <%= form.hidden_field :user_id, value: timecard.user_id %>
  <% end %>

  <div class="field">
  <%= form.label :副業 %>
  <%= form.select :sub_business_id, @sub_businesses.collect { |sub| [sub.sub_business_company, sub.id]}, { include_blank: '選択してください'}, { class: 'form-control' , required: true} %>
  </div>

  <div class="actions submit_time" id="submit_btn">
    <%= form.submit :"出勤", id: "start_work" %>
  </div>
<% end %>

</div>
</section>

<%= javascript_pack_tag "sub_business_time/new_time" %>

<script>
function showClock1() {
   var nowTime = new Date();
   var nowHour = nowTime.getHours();
   var nowMin  = nowTime.getMinutes();
   var msg = nowHour + ":" + nowMin;
   document.getElementById("RealtimeClockArea").innerHTML = msg;
}
setInterval('showClock1()',1000);
</script>
