<section class="section">
<div class ="section_inner">

<p id="notice"><%= notice %></p>

<p>
  <strong>副業形態</strong>
  <%= @sub_business.status %>
</p>

<p>
  <strong>副業先</strong>
  <%= @sub_business.sub_business_company %>
</p>

<p>
  <strong>業務内容</strong>
  <%= @sub_business.sub_business_content %>
</p>

<p>
  <strong>所定労働時間</strong>
  <%= @sub_business.prescribed_time_sub %>
</p>

<p>
  <strong>36協定時間</strong>
  <%= @sub_business.over_time %>
</p>

<%= link_to '戻る', sub_businesses_path %>

</div>
</section>