<section class="section">
<div class ="section_inner">
<h1>副業勤務時間登録</h1>

<% if @sub_businesses.exists? %>
  <div class="another-dakoku">
    <%= link_to "副業勤怠打刻へ", decide_sub_business_times_path(@timecard) %>
  </div>
<% end %>

<h2 id="RealtimeClockArea"></h2>

<form class= "dakoku">
  <div class="set-time">
    <label>開始時刻</label>
    <div class="dakoku-time">
      <input type="text" readonly= true size=2 value=<%= @main_business_time.start_time_main.hour unless @main_business_time.start_time_main.nil? %> >:
      <input type="text" readonly= true size=2 value=<%= @main_business_time.start_time_main.min unless @main_business_time.start_time_main.nil? %> ><br>
    </div>
  </div>
  <div class="set-time">
    <label>終了時刻</label>
    <div class="dakoku-time">
      <input type="text" readonly= true size=2 value=<%= @main_business_time.end_time_main.hour unless @main_business_time.end_time_main.nil? %> >:
      <input type="text" readonly= true size=2 value=<%= @main_business_time.end_time_main.min unless @main_business_time.end_time_main.nil? %> >
    </div>
  </div>
</form>

<%= form_with(model: @main_business_time, local: true) do |form| %>
  <% if @main_business_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_business_time.errors.count, "error") %> prohibited this main_business_time from being saved:</h2>

      <ul>
        <% main_business_time.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :start_time_main %>
  </div>

  <div class="field">
    <%= form.hidden_field :end_time_main %>
  </div>

  <% @timecard.each do |timecard| %>
  <%= form.hidden_field :timecard_id, value: timecard.id %>
  <%= form.hidden_field :user_id, value: timecard.user_id %>
  <% end %>

  <div class="actions submit_time" id="submit_btn">
    <%= form.submit :"退勤", id: "end_work" %>
  </div>
<% end %>
</div>
</section>

<%= javascript_pack_tag "main_business_time/edit_time" %>

<script>
function showClock1() {
  var nowTime = new Date();
  var nowHour = nowTime.getHours();
  var nowMin  = nowTime.getMinutes();

  if(nowHour < 10){
      nowHour = "0" + nowHour
  }

  if(nowMin < 10){
   nowMin = "0" + nowMin
  }

  var msg = nowHour + ":" + nowMin;
  document.getElementById("RealtimeClockArea").innerHTML = msg;
}

setInterval('showClock1()',1000);
</script>