<section class="section">
<div class ="section_inner">
<h1>勤務時間登録</h1>

<form>
  <div class = "start_time_main">
    <label>開始時刻</label>
    <input type="number" value="" id="start_time_hour" min=0 max=23 step="1">:
    <input type="number" value="" id="start_time_minute" min=0 max=59 step="1"><br>
  </div>

  <div class = "end_time_main">
    <label>終了時刻</label>
    <input type="number" value="" id="end_time_hour" min=0 max=23 step="1">:
    <input type="number" value="" id="end_time_minute" min=0 max=59 step="1"><br>
  </div>

  <input type="hidden" id="date" value=<%= @timecard.date %>>
</form>

<%= form_with(model: @main_business_time, local: true) do |form| %>
  <% if @main_business_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_business_time.errors.count, "error") %> prohibited this main_business_time from being saved:</h2>

      <ul>
        <% main_business_time.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :start_time_main, value: "" %>
  </div>

  <div class="field">
    <%= form.hidden_field :end_time_main, value: "" %>
  </div>

  <%= form.hidden_field :timecard_id, value: @timecard.id %>
  <%= form.hidden_field :user_id, value: @timecard.user_id %>

  <div class="actions" id="submit_btn" style="display: none">
    <%= form.submit %>
  </div>
<% end %>

<p id="message">勤務時間を登録してください</p>

</div>
</section>

<%= javascript_pack_tag "main_business_time/new" %>